<div class="slider">
	<div class="slider-content">

			<div class="card slider-item">
				<h1>Where does this go</h1>
			</div>
			<div class="card slider-item">
				<h1>Where does this go</h1>
			</div>
			<div class="card slider-item">
				<h1>Where does this go</h1>
			</div>
			<div class="card slider-item">
				<h1>Where does this go</h1>
			</div>

	</div>
</div>
