<!-- <div class="container-fluid">
	<footer>
		<div class="txt"><%= link_to "About Us", root_path %></div>
		<div class="txt"><%= copyright_generator %></div>
	</footer>

	<div class="allsock">
		<%= image_tag "allknowingsock.jpg", width: '50px', height: '50px' %>
	</div>
	<div class="allsock2">
		<%= image_tag "allknowingsock.jpg", width: '50px', height: '50px' %>
	</div>
</div> -->